<link rel="stylesheet" href="/resources/styles/signin.css">

<div class="container">

    <form class="form-signin" action="/j_spring_security_check" method="POST">
        <h2 class="form-signin-heading">Авторизуйтесь...</h2>
        <label for="username" class="sr-only">username</label>
        <input type="text" id="username" class="form-control" placeholder="username" required="" autofocus="" name="j_username">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="j_password">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>

